.CompanyList{
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 75%;
    width: 100%;
    margin: 0 auto;
    height: 100px;
    background: #FFFFFF;
    border-radius: 10px;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 30px 80px;
    img{
        width: 100%;
    }
}