.ServiceWeOffer{
    background-image: url('../../assets/images/geometric_shape_and_lines_background.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 79px 0;
    h1{
        font-weight: 700;
        font-size: 40px;
        line-height: 50px;
        color: #122453;
    }
}