@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  color:  rgba(0, 0, 0, 0.84);
  font-family: 'Mulish', sans-serif;
  position: relative;
  background-color: #fff;
}

a{
  text-decoration: none;
}

.container{
  width: 100%;
  max-width: calc(100% - 240px);
  margin: 0 auto;
}

.header-pt-92{
  padding-top: 92px;
}

.pb-92{
  padding-bottom: 92px;
}

.ptb-120{
  padding: 120px 0;
}

.head-line{
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.head-line::after{
  content: '';
  position: absolute;
  width: 121px;
  height: 4px;
  left: 0;
  bottom: 0;
  background: #F1B33B;
  border-radius: 10px;
}

/* ServiceWeOffer Tab Css Start */

.Maintab .nav-pills .nav-link{
  position: relative;
}

.Maintab .nav-pills .nav-link::after {
  content: '';
  position: absolute;
  height: 100%;
  right: 0px;
  top: 0;
  width: 0;
  border-radius: 0 5px 5px 0;
  background-color: #ED0F66;
  transition: all 0.2s linear;
}

.Maintab .nav-pills .nav-link.active{
  background-color: #ED0F66 !important;
  position: relative;
  border-radius: 5px 0 0 5px;
}

.Maintab .nav-pills .nav-link.active h6{
  color: #fff !important;
}

.Maintab .nav-pills .nav-link.active::after {
  content: '';
  position: absolute;
  height: 100%;
  right: -50px;
  top: 0;
  width: 50px;
  border-radius: 0 5px 5px 0;
  background-color: #ED0F66;
  background-position: center;
}

/* ServiceWeOffer Tab Css End */

/* TurstedSoftware Component Carousal Css Start */

.industries_carousal .owl-nav {
  width: fit-content;
  position: absolute;
  top: -100px;
  right: 120px;
}

.industries_carousal .owl-nav button:hover{
  background: transparent !important;
}

.owl-theme .owl-nav .disabled span{
  background: #FCFCFC;
}

.industries_carousal .owl-nav button span{
  width: 58px;
  height: 58px;
  background: rgba(114, 156, 239, 0.18);
  border: 1px solid rgba(0, 0, 0, 0.04);
  border-radius: 50%;
  display: block;
  position: relative;
}

.industries_carousal .owl-nav button span::after{
  content: '';
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 35px;
  width: 100%;
  height: 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.industries_carousal .owl-nav .owl-prev span.prev::after{
  background-image: url(./assets/images/carousalleftarrow.svg);
}

.industries_carousal .owl-nav .owl-next span.next::after{
  background-image: url(./assets/images/carousalrightarrow.svg);
}

/* TurstedSoftware Component Carousal Css End */


/* ClientSay Start */

.clientsay_carousal .owl-nav{
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  margin-top: 100px !important;
  margin-left: 20px;
}

.clientsay_carousal .owl-nav button{
  margin: 0 !important;
}

.clientsay_carousal .owl-nav button:hover{
  background: transparent !important;
}

.clientsay_carousal .owl-nav button span{
  width: 66px;
  height: 66px;
  border-radius: 50% !important;
  display: block;
  position: relative;
}

.clientsay_carousal .owl-nav button span::after{
  content: '';
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 35px;
  width: 100%;
  height: 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.clientsay_carousal .owl-nav .owl-prev span.prev::after{
  background-image: url(./assets/images/carousalleftarrow.svg);
}

.clientsay_carousal .owl-nav .owl-next span.next::after{
  background-image: url(./assets/images/carousalrightarrow.svg);
}

/* ClientSay End */